<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>문서이름</title>
        <link href="style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>자기소개서</h1>
        <p>안녕하세요 제 이름은 <b>코딩 알려주는 누나</b>입니다. 항상 누구에게나 쉽고 즐거운 강의를 만드는게 제 목표입니다</p>
        <h2>좋아하는 음식</h2>
        <ul>
            <li>불고기 피자</li>
            <li>회</li>
            <li>자장면</li>
        </ul>
        <h2>좋아하는 가수</h2>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0f/BTS_on_the_Billboard_Music_Awards_red_carpet%2C_1_May_2019.jpg/1200px-BTS_on_the_Billboard_Music_Awards_red_carpet%2C_1_May_2019.jpg" width=300/>
        <div>BTS</div>
        <a href = "https://www.livenation.kr/artist-bts-830746">BTS 공연 보러가기</a>
        <h2>좋아하는 노래</h2>
        <audio src = "C:/Users/admin/OneDrive/바탕 화면/事前準備動画.mp4" controls></audio>
        <div><a href = "https://developer.mozilla.org/ko/docs/Web/HTML/Element/audio">오디오 넣는 법 보기</a></div>
        <h2>인적사항</h2>
        <table border="1">
            <tr>
                <th>질문</th>
                <th>답변</th>
            </tr>
            <tr>
                <td>사는곳?</td>
                <td>니 마음속</td>
            </tr>
            <tr>
                <td>나이?</td>
                <td>17살</td>
            </tr>
        </table>
        <div>
            테이블 쓰는 방법을 모르겠다고?
            <a href = "https://daldalhanstory.tistory.com/72">그럼 검색해봐!</a>
        </div>
        <h2>연락&문의</h2>
        박스앞에 이렇게 글쓰기 가능: <input type = "text" placeholder="궁금한 사항을 써주세요"/>
        <button>전송</button>
        
        



    
    </body>
</html>
