
.challenge2 {
    background:
    radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    padding-left: 100px;
}

h1:first-child {
    text-align: center;
}


p {
    font-size: 16px;
    font-style: italic;
    font-family: Verdana;
}

p.sub-header::first-letter {
    font-size: 30px;
    color: red
}

.sub-header {
    color: #2980b9;

}

h1 {
    color: #9b59b6;
}

p::before {
    content: "Topic: ";
}