

<!DOCTYPE html>
<html>
    <head>
        <link href="style.css" rel="stylesheet" type="text/css" />

    </head>
    <body>
        <div>Hello</div>
        <p><div>Please enter your ID and password</div></p><div></div>
        <img src="https://static.independent.co.uk/2021/06/16/08/newFile-4.jpg?width=990&auto=webp&quality=75&crop=982:726,smart"/>
        <div>ID: <input type="text"/></div>
        <div>password: <input type="password"/></div>
        <button>Log-in</button>
        <div><a href = "https://calendar.google.com/calendar/u/0/r?tab=ic">go to kwon's google calander</a></div>
    </body>

</html>

<style>
    body {
        text-align: center;
    }
    input {
        text-align: center;
    }
    img {
        width: 50%;
      border-radius: 50%;
        
    }
</style>








